body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.produs-card {
    border: 1px solid #ddd;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}

/* Clasa pentru ascunderea elementului  */
.ascuns {
    display: none;
}